@font-face {
    font-family: "inter300";
    src: url("@/app/assets/fonts/Inter_18pt-Light.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "inter400";
    src: url("@/app/assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "inter500";
    src: url("@/app/assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "inter600";
    src: url("@/app/assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
    font-style: normal;
}