@use "./media-queries.scss" as *;

@mixin section-style {
  width: 1920px;
  margin: auto;

  @include desktop-l {
    width: 100%;
  }

  @include desktop-m {
    width: 100%;
  }

  @include tablet-l {
    width: 100%;
  }

  @include mobile-m {
    width: 100%;
  }
}

@mixin styles($map, $property) {
  @each $key, $value in $map {
    &.#{"#{$key}"} {
      #{$property}: var(#{$value});
    }
  }
}
