* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

li {
    list-style-type: none;
    text-wrap: pretty;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}