.cart {
  width: 24px;
  height: 24px;
  background-color: var(--color-background-green);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
