@use "@/app/styles/media-queries.scss" as *;

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  @include desktop-l {
    grid-template-columns: repeat(4, 1fr);
  }

  @include tablet-l {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mobile-xl {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile-l {
    grid-template-columns: repeat(2, 1fr);
  }
}
