@use "@/app/styles/media-queries.scss" as *;

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include desktop-m {
    grid-template-columns: repeat(3, 1fr);
  }
}
